@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
width: 100%;
height: 100%;
font-size: 16px;
font-family: Be Vietnam Pro;
font-weight: 400;
background-color: var(--light-gray);
overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fafafac9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f25f3a94;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #F25F3A;
  }

p{
    line-height: 1.8rem;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

:root{

    --primary-red: hsl(12, 88%, 59%);
    --primary-blue: hsl(228, 39%, 23%);

    --grey-blue: hsl(227, 12%, 61%);
    --dark-blue: hsl(233, 12%, 13%);
    --pale-red: hsl(13, 100%, 96%);
    --light-gray: hsl(0, 0%, 98%);
}


.tablet-1{
    position: absolute;
    right: -8%;
    top: -140px;
    z-index: -10;
}


.container{
   width: 74%;
   margin-left: 13%;
   margin-top: 4%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 2rem;
    font-size: 85%;
    font-weight: 500;
    color: var(--primary-blue);
}
nav ul li{
    transition: color ease .2s;
}

.button-nav{
    background-color: var(--primary-red);
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    margin-right: 15px;
    font-size: 85%;
    font-weight: 500;
    transition: background-color ease .2s;
}

nav ul li:hover{
    color: var(--grey-blue);
    cursor: pointer;
}
.button-nav:hover, .button-pg1:hover{
    background-color: hsla(12, 88%, 59%, 0.7);
    cursor: pointer;
}


#page-1{
    /* background-color: red; */
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h1{
    color: var(--primary-blue);
    font-size: 3.2rem;
    font-weight: 700;
}

.left p{
    color: var(--grey-blue);
    font-size: 1.2rem;
    margin: 2rem 0 ;
    padding-right: 8rem;
}

.button-pg1{
    background-color: var(--primary-red);
    width: 24%;
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    font-size: 85%;
    font-weight: 500;
    transition: background-color ease .2s;
    margin-bottom: 2rem;
}


.page-2{
    margin-top: 6%;;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap:8rem; */
    /* margin-bottom: 10rem; */
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.lft-2 h1{
    color: var(--primary-blue);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.lft-2 p{
    color: var(--grey-blue);
    font-size: 1.2rem;
    padding-right: 8rem;
}

.ubox h4{
    color: white;
    background-color: var(--primary-red);
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 90%;
    margin: 0 35px;
}

.lbox h4{
    
}
.box{
    margin-bottom: 2.5rem;
}

.lbox p{
    color: var(--grey-blue);
}
.tablet-2{
    position: absolute;
    z-index: -10;
    left: -32%;
    top: 145%;
}

footer .footer-1{
    width: 100%;
    background-color: var(--primary-red);
    margin-top: 8rem;
  
}
.footer-1>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.footer-1 h1{
    color: var(--pale-red);
    font-size: 2.8rem;
    font-weight: 700;
}

.button-footer{
    background-color: var(--pale-red);
    width: 14%;
    padding: 14px 24px;
    border-radius: 30px;
    color: var(--primary-red);
    font-size: 85%;
    text-align: center;
    font-weight: 500;
    transition: all ease .4s;
}
.button-footer:hover{
    cursor: pointer;
    background-color: hsla(12, 88%, 59%, 0.7);
    border: 1.5px solid var(--pale-red);
    color: var(--pale-red);
}

.footer-2{
    margin-top: -4rem;
    width: 100%;
    background-color: var(--dark-blue);
}



.footer-2>div{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3rem 0;
}
.first h1{
    color: hsla(12, 88%, 59%, 0.9);
    font-weight: 300;

}

.first{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.icons{
    display: flex;
    gap: 1rem;
}

.icons img:hover{
    cursor: pointer;
}

.ul-1 ul{
    color: var(--pale-red);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ul-1 li{
    transition: color ease .2s;
}
.ul-1 li:hover, .ul-2 li:hover{
    color: var(--primary-red);
    cursor: pointer;
}

.ul-2 ul{
    color: var(--pale-red);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ul-2 li{
    transition: color ease .2s;
}

.email input{
    border-radius: 30px;
    padding: .8rem 1rem;
    border: none;
    outline: none;
    text-align: center;
    color: var(--dark-blue);
    font-size: 1rem;
}

.email input::placeholder{
    /* position: absolute;
    padding-left: 1rem; */
    font-size: 1rem;
}

.input>div{
    margin-bottom: 5rem;
}
.input p{
    color: var(--grey-blue);
    opacity: .5;
    font-size: 80%;
}

.input button{
    color: white;
    background-color: var(--primary-red);
    border-radius: 30px;
    padding: .8rem 1.2rem;
    border: none;
    transition: all ease .4s;
}

.input button:hover{
    color: var(--primary-red);
    background-color: var(--pale-red);
    cursor: pointer;
}


#page-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#page-3 h1{
        margin-top: 4rem;
        color: var(--primary-blue);
        scale: 1.1;
}

.test{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.review{
    width: 28%;
    /* height: 10vh; */
    background-color:rgba(240, 226, 226, 0.345);
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    position: relative;
    align-items: center;
    padding: 0 1.2rem 1.4rem 1.2rem;
}

.review img{
    width: 70px;
    transform: translate(0,-50%);
}

.review h3{
    margin-bottom: 1rem;
    font-size: 90%;
    color: var(--dark-blue);
}

.review p{
    font-size: 90%;
    color: var(--grey-blue);
    text-align: center;
}

#page-3 button{
    width:8%;
    border: none;

}
.input{
    text-align: end;
}
.box{
    flex-direction: column;
}
.ubox{
    display: flex;
    align-items: baseline;
    
}
.ubox h5{
    color: var(--dark-blue);
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
}
.lbox p{
    padding-left: 9rem;
}
.ham{
    display: none;
}

@media only screen and (max-width:426px){
    
    .container{
        width: 92%;
        margin-left:4%;
        margin-top: 2rem;
    }
    .ham{
        display: block;
    }
    .lbox p{
        padding: 0 1rem;
    }
    .ubox h4{
            margin: 0;
    }
    .ubox h5{
        margin: 0 0 0 1rem;

    }
    .ubox{
        width: 105%;
        background-color: var(--pale-red);
        margin-bottom: 1.5rem;
    }
        nav ul{
            display: none;
        }
        .button-nav{
            display: none;
        }

        #page-1{
            flex-direction: column-reverse;
        }
        
        .left h1{
            text-align: center;
            font-size: 2.5rem;
            margin-top: 1rem;
        }
        .left p{
            text-align: center;
            padding: 0 2rem;
            font-size: 1rem;
        }
        
        .button-pg1{
            text-align: center;
            width:fit-content;
        }
        
        .left{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .right img{
            margin-top: 1rem;
            width: 100%;
        }
        .page-2{
            /* display: none; */
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .lft-2{
            text-align: center;

        }
        .lft-2 h1{
            font-size: 2.2rem;
        }
        .lft-2 p{
            padding: 0 1rem;
            margin-bottom: 3rem;
            font-size: 1rem;
            
        }
        #page-3 h1{
            margin-top: 2rem;

        }
        .tablet-1{
            right: -38%;
            top: -15%;
            width: 125%;
        }
        .tablet-2{
            left: -68%;
            top: 118%;
            width: 120%;
        }
        #page-3 div:nth-child(1){
            display: none;
        }
        #page-3 div:nth-child(3){
            display: none;
        }
        .review{
            width: 90%;
        }
        #page-3 button{
            width: fit-content;
            scale: 1.2;
        }
            .footer-1>div{
                flex-direction: column;
                text-align: center;
                margin-bottom: 4rem;
            }
            footer .footer-1{
                margin-top: 2rem;
                width: 101%;
            }
            .footer-1 h1{
                font-size: 2.8rem;
                margin: 2rem 0;
            }
            .button-footer{
                width: fit-content;
               
            }

            .footer-2>div{
                flex-direction: column-reverse;
                align-items: center;
                padding-bottom: 5rem;
            }
            .footer-2{
                width: 101%;
                /* display: none; */
            }
            .first{
                flex-direction: column-reverse;
                align-items: center;
                gap: 4rem;
            }

            .icons{
                gap: 2rem;
                scale: 1.4;
                margin-top: 3.2rem;
            }
            .input{
                position: relative;
            }
            .input p{
                position: absolute;
                bottom: -360px;
                left: 50%;
                transform: translate(-50%, 0px);
                width: max-content;
            }
            .first h1{
                scale: 1.2;
            }
            .input>div{
                margin-bottom: 3rem;
            }

            .email input{
                padding: 1rem 3rem;
                margin-right: .5rem;
            }
            .input button{
                padding: 1rem 2rem;
            }
}

.ull{
    display: flex;
    gap: 8rem;
}