@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
width: 100%;
height: 100%;
font-size: 16px;
font-family: Be Vietnam Pro;
font-weight: 400;
background-color: var(--light-gray);
overflow-x: hidden;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

:root{

    --primary-red: hsl(12, 88%, 59%);
    --primary-blue: hsl(228, 39%, 23%);

    --grey-blue: hsl(227, 12%, 61%);
    --dark-blue: hsl(233, 12%, 13%);
    --pale-red: hsl(13, 100%, 96%);
    --light-gray: hsl(0, 0%, 98%);
}


.tablet-1{
    position: absolute;
    right: -8%;
    top: -140px;
    z-index: -10;
}


.container{
   width: 74%;
   margin-left: 13%;
   margin-top: 4%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 2rem;
    font-size: 85%;
    font-weight: 500;
    color: var(--primary-blue);
}
nav ul li{
    transition: color ease .2s;
}

.button-nav{
    background-color: var(--primary-red);
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    margin-right: 15px;
    font-size: 85%;
    font-weight: 500;
    transition: background-color ease .2s;
}

nav ul li:hover{
    color: var(--grey-blue);
    cursor: pointer;
}
.button-nav:hover, .button-pg1:hover{
    background-color: hsla(12, 88%, 59%, 0.7);
    cursor: pointer;
}


#page-1{
    /* background-color: red; */
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h1{
    color: var(--primary-blue);
    font-size: 3.2rem;
    font-weight: 700;
}

.left p{
    color: var(--grey-blue);
    font-size: 1.2rem;
    margin: 2rem 0 ;
    padding-right: 8rem;
}

.button-pg1{
    background-color: var(--primary-red);
    width: 23%;
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    font-size: 85%;
    font-weight: 500;
    transition: background-color ease .2s;
    margin-bottom: 2rem;
}